<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TimeTable</title>
        <style>
            div.heading{
                position: fixed;
                right: 640px;
                top: 50px;
            }
            div.btn {
                position: fixed;
                right: 750px;
                bottom: 400px;
            }
            div.txtbox{
                position: fixed;
                bottom: 500px;
            }
        </style>
    </head>
    <body>
        <div class="heading">
            <h1>Generate Your Timetable</h1>
        </div>
        <form action="make/" method="post">
            {% csrf_token %}
            <div class="txtbox">
            <input type="text" name="data" placeholder="Table Data Here..." style="width: 1500px; height: 100px;">
            </div>
            <br>
            <div class="btn">
            <input type="submit" value="Generate" style="width: 100px; height: 50px;">
            </div>
        </form>
    </body>
</html>